<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="plantilla::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" th:replace="plantilla::menu"></div>
        <div class="container" style="max-width: 400px; margin-top: 50px">
            <div class="card">
                <div class="card-header">
                    Registrar Post
                </div>
                <div class="card-body">
                    <form action="/add">
                        <div class="mb-3">
                            <input type="text" class="form-control m-25" placeholder="titulo" name="titulo">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="descripcion" placeholder="Descripción">        
                        </div>
                        <input type="submit" class="btn btn-primary" value="Guardar">
                    </form>
                </div>
            </div>
    </body>
</html>

