<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="plantilla::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" th:replace="plantilla::menu"></div>
        <div class="container" style="max-width: 400px; margin-top: 50px">
            <div class="card">
                <div class="card-header">
                    Registrar Post
                </div>
                <div class="card-body">
                    <form action="/prodadd">
                        <div class="mb-3">
                            <select name="idcat" id="cat" class="form-control" >
                                <option value="0">Seleccionar Carrera</option>
                                <option th:each="cat:${cats}" 
                                        th:value="${cat.id}" 
                                        th:text="${cat.nomcat}" 
                                        th:selected="false"
                                        />
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control m-25" placeholder="Alumno" name="nombre">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control m-25" placeholder="correo" name="Correo">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="telefono" placeholder="Telefono">        
                        </div>
                        <input type="submit" class="btn btn-primary" value="Guardar">
                    </form>
                </div>
            </div>
    </body>
</html>

