<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="plantilla::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" th:replace="plantilla::menu"></div>
        <div class="container" style="margin-top: 40px; margin: 0 auto; max-width: 500px">
            <a href="/create" class="text-info" style="text-decoration: none; font-weight: bold">Add</a>
            <table class="table" style="max-width: 600px" >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Carrera</th>
                        <th scope="col" colspan="2">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="alum :${alums}">
                        <th scope="row" th:text="${alum.id}"></th>
                        <td th:text="${alum.nombre}"></td>
                        <td th:text="${alum.correo}"></td>
                        <td th:text="${alum.telefono}"></td>
                        <td th:text="${alum.carrera.nomcat}"></td>
                        <td>
                            <a href="#" class="text-success" ><i class="far fa-edit"></i></a>
                            <a href="#" class="text-danger" ><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
